/* Reset */

body,
h1,
h2,
h3,
p,
ul {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Georgia, "Bitstream Charter", "URW Bookman L", serif;
  color: #252525;
}

/* Menu */
.menu {
  background: #d87063;
  padding: 20px 0;
}

.menu-container {
  max-width: 960px;
  /* com width ele estava gerando uma barra lateral, com max ele diminui junto com o navegador */
  margin: 0 auto; /* centralizar para os lados e no margin top bottom */
}

.menu-container::after,
.menu-container::before {
  content: "";
  display: table;
  clear: both;
}

a.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}

.menu-nav {
  float: right;
  margin-right: 10px;
}

.menu-nav li {
  display: inline-block;
}

.menu-nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fafafa;
  font-size: 1.125em;
}

/* Intro */

.intro {
  background: url("../../assets/bg-intro.png") no-repeat center center;
  background-size: cover; /* sempre esteja 100% ao redimencionar a janela */
  padding: 150px 0;
  text-align: center;
  color: #fafafa;
}

.intro h1 {
  text-transform: uppercase;
}

.intro h1::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background: #fafafa;
  margin: 10px auto;
}

.intro p {
  font-style: italic;
  font-size: 1.125em;
}

/* About */

.about {
  padding: 60px 0;
}

.about-container {
  max-width: 960px;
  margin: 0 auto;
}

.about::after,
.about::before {
  content: "";
  display: table;
  clear: both;
}

.about h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 60px;
}

.about-item {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.about-item img {
  display: block;
  max-width: 100%;
}

.about-item h3 {
  font-size: 2.25em;
  line-height: 1em;
  background: #252525;
  width: 220px;
  color: #fafafa;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  padding: 5px 0 10px 0;
  top: -25px;
  position: relative;
}

.about > p {
  font-size: 1.25em;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
  margin: 20px auto;
  max-width: 460px;
}

/* Products */

.products {
  background: #f2dfc4;
  padding: 60px 0;
  border-top: 3px solid #ecd9bf;
  border-bottom: 3px solid #ecd9bf;
}

.products-container {
  max-width: 960px;
  margin: 0 auto;
}

.products-container::after,
.products-container::before {
  content: "";
  display: table;
  clear: both;
}

.products-item {
  width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
}

.products-item h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 20px;
}

.products-item h2::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: currentColor;
  border-radius: 50%;
  margin: 20px auto;
  border: 5px solid #f2dfc4;
  box-shadow: 0 0 0 10px currentColor;
}

h2.products-mint::before {
  color: #cad889;
}

h2.products-straw::before {
  color: #d29193;
}

h2.products-cream::before {
  color: #cda87e;
}

.products-item p {
  font-size: 0.875em;
  line-height: 1.4em;
}

.products-btn {
  width: 180px;
  border: 3px solid;
  color: #252525;
  text-decoration: none;
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
  margin: 20px auto 0 auto;
}

/* Locations */

.locations {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.locations-item {
  clear: both;
  margin: 60px auto;
  overflow: hidden;
}

.locations-item img {
  width: 460px;
  float: left;
  display: block;
  margin: 0 10px;
}

.locations-item > div {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.locations-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
}

.locations-item p {
  font-size: 1.125em;
  line-height: 1.4em;
  max-width: 320px;
  margin-bottom: 40px;
}

.locations-item a {
  font-size: 1.125em;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid;
  color: #252525;
  padding: 10px 20px;
}
